src/main/resources/xsd/fixml-settlement-base-5-0-SP2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
	$HeadURL: https://svn.msk.trd.ru/svn/xsd/fixml/trunk/fixml-settlement-base-5-0-SP2.xsd $
	$Revision: 247 $
	$Author: OSvedchikova $
	$Id: fixml-settlement-base-5-0-SP2.xsd 247 2015-06-19 12:11:28Z OSvedchikova $
	- - - - - - - - - - - - - - - - - - - - - - - - - -
    Generated:2009-04-19T13:43:43.089-05:00
    Revision: FIXML  Schema Version  FIX.5.0SP2
    Copyright(c) FIX Protocol Limited.  All rights reserved.
    Comments and errors should be posted on the FIX protocol web-site
    http://www.fixprotocol.org
	- - - - - - - - - - - - - - - - - - - - - - - - - -
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://svn.msk.trd.ru/xsd/fixml"
           xmlns:fm="http://svn.msk.trd.ru/xsd/fixml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://svn.msk.trd.ru/xsd/fixml" elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           xsi:schemaLocation="fixml-metadata-5-0-SP2.xsd">

    <xs:include schemaLocation="fixml-components-impl-5-0-SP2.xsd"/>

    <xs:group name="SettlementInstructionsElements">
        <xs:sequence>
            <xs:element name="SetInst" type="SettlInstGrp_Block_t" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="SettlementInstructionsAttributes">
        <xs:attribute name="SettlInstMsgID" type="SettlInstMsgID_t" use="required"/>
        <xs:attribute name="SettlInstReqID" type="SettlInstReqID_t" use="optional"/>
        <xs:attribute name="SettlInstMode" type="SettlInstMode_t" use="required"/>
        <xs:attribute name="SettlInstReqRejCode" type="SettlInstReqRejCode_t" use="optional"/>
        <xs:attribute name="Txt" type="Text_t" use="optional"/>
        <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
        <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
        <xs:attribute name="ClOrdID" type="ClOrdID_t" use="optional"/>
        <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
    </xs:attributeGroup>
    <xs:complexType name="SettlementInstructions_message_t" final="#all">
        <xs:annotation>
            <xs:documentation xml:lang="en">SettlementInstructions can be found in Volume5 of the specification
            </xs:documentation>
            <xs:appinfo>
                <fm:Xref Protocol="FIX" name="SettlementInstructions" ComponentType="Message" MsgID="28"
                         Section="Post Trade" Category="SettlementInstruction"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Abstract_message_t">
                <xs:sequence>
                    <xs:group ref="SettlementInstructionsElements"/>
                </xs:sequence>
                <xs:attributeGroup ref="SettlementInstructionsAttributes"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SettlInstrctns" type="SettlementInstructions_message_t" substitutionGroup="Message" final="#all"/>
    <xs:group name="SettlementInstructionRequestElements">
        <xs:sequence>
            <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="SettlementInstructionRequestAttributes">
        <xs:attribute name="SettlInstReqID" type="SettlInstReqID_t" use="required"/>
        <xs:attribute name="TxnTm" type="TransactTime_t" use="required"/>
        <xs:attribute name="Acct" type="AllocAccount_t" use="optional"/>
        <xs:attribute name="ActIDSrc" type="AllocAcctIDSource_t" use="optional"/>
        <xs:attribute name="Side" type="Side_t" use="optional"/>
        <xs:attribute name="Prod" type="Product_t" use="optional"/>
        <xs:attribute name="SecTyp" type="SecurityType_t" use="optional"/>
        <xs:attribute name="CFI" type="CFICode_t" use="optional"/>
        <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
        <xs:attribute name="EfctvTm" type="EffectiveTime_t" use="optional"/>
        <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
        <xs:attribute name="LastUpdateTm" type="LastUpdateTime_t" use="optional"/>
        <xs:attribute name="StandInstDbTyp" type="StandInstDbType_t" use="optional"/>
        <xs:attribute name="StandInstDbName" type="StandInstDbName_t" use="optional"/>
        <xs:attribute name="StandInstDbID" type="StandInstDbID_t" use="optional"/>
    </xs:attributeGroup>
    <xs:complexType name="SettlementInstructionRequest_message_t" final="#all">
        <xs:annotation>
            <xs:documentation xml:lang="en">SettlementInstructionRequest can be found in Volume5 of the specification
            </xs:documentation>
            <xs:appinfo>
                <fm:Xref Protocol="FIX" name="SettlementInstructionRequest" ComponentType="Message" MsgID="81"
                         Section="Post Trade" Category="SettlementInstruction"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Abstract_message_t">
                <xs:sequence>
                    <xs:group ref="SettlementInstructionRequestElements"/>
                </xs:sequence>
                <xs:attributeGroup ref="SettlementInstructionRequestAttributes"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SettlInstrctnReq" type="SettlementInstructionRequest_message_t" substitutionGroup="Message"
                final="#all"/>
    <xs:group name="SettlementObligationReportElements">
        <xs:sequence>
            <!--<xs:element ref="dsig:Signature" minOccurs="0" maxOccurs="unbounded"/>-->
            <xs:element name="ApplSeqCtrl" type="ApplicationSequenceControl_Block_t" minOccurs="0"/>
            <xs:element name="SettlObligInst" type="SettlObligationInstructions_Block_t" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="SettlementObligationReportAttributes">
        <xs:attribute name="BizDt" type="ClearingBusinessDate_t" use="optional"/>
        <xs:attribute name="CycleNo" type="SettlementCycleNo_t" use="optional"/>
        <xs:attribute name="SettlMsgID" type="SettlObligMsgID_t" use="required"/>
        <xs:attribute name="SettlMode" type="SettlObligMode_t" use="required"/>
        <xs:attribute name="SettlTyp" type="SettlObligMsgTyp_t" use="optional"/>
        <xs:attribute name="Txt" type="Text_t" use="optional"/>
        <xs:attribute name="EncTxtLen" type="EncodedTextLen_t" use="optional"/>
        <xs:attribute name="EncTxt" type="EncodedText_t" use="optional"/>
        <xs:attribute name="TxnTm" type="TransactTime_t" use="optional"/>
        <xs:attribute name="Ccy" type="SettlObligCurrency_t" use="optional"/>
        <xs:attribute name="SettlAmt" type="SettlObligAmt_t" use="optional"/>
        <xs:attribute name="PaymentCheckStatus" type="PaymentCheckStatus_enum_t" use="optional"/>
        <xs:attribute name="BackOfficeObligStatus" type="Text_t" use="optional"/>
        <xs:attribute name="Id" type="DigitalSignatureID_t" use="optional"/>
    </xs:attributeGroup>
    <xs:complexType name="SettlementObligationReport_message_t" final="#all">
        <xs:annotation>
            <xs:documentation xml:lang="en">SettlementObligationReport can be found in Volume5 of the specification
            </xs:documentation>
            <xs:appinfo>
                <fm:Xref Protocol="FIX" name="SettlementObligationReport" ComponentType="Message" MsgID="102"
                         Section="Post Trade" Category="SettlementInstruction"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="Abstract_message_t">
                <xs:sequence>
                    <xs:group ref="SettlementObligationReportElements"/>
                </xs:sequence>
                <xs:attributeGroup ref="SettlementObligationReportAttributes"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="SettlObligation" type="SettlementObligationReport_message_t" substitutionGroup="Message"
                final="#all"/>
    <xs:group name="SettlInstGrpElements">
        <xs:sequence>
            <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="SetInstr" type="SettlInstructionsData_Block_t" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="SettlInstGrpAttributes">
        <xs:attribute name="SettlInstID" type="SettlInstID_t" use="optional"/>
        <xs:attribute name="SettlInstTransTyp" type="SettlInstTransType_t" use="optional"/>
        <xs:attribute name="SettlInstRefID" type="SettlInstRefID_t" use="optional"/>
        <xs:attribute name="Side" type="Side_t" use="optional"/>
        <xs:attribute name="Prod" type="Product_t" use="optional"/>
        <xs:attribute name="SecTyp" type="SecurityType_t" use="optional"/>
        <xs:attribute name="CFI" type="CFICode_t" use="optional"/>
        <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
        <xs:attribute name="EfctvTm" type="EffectiveTime_t" use="optional"/>
        <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
        <xs:attribute name="LastUpdateTm" type="LastUpdateTime_t" use="optional"/>
        <xs:attribute name="PmtMethod" type="PaymentMethod_t" use="optional"/>
        <xs:attribute name="PmtRef" type="PaymentRef_t" use="optional"/>
        <xs:attribute name="CardHolderName" type="CardHolderName_t" use="optional"/>
        <xs:attribute name="CardNum" type="CardNumber_t" use="optional"/>
        <xs:attribute name="CardStartDt" type="CardStartDate_t" use="optional"/>
        <xs:attribute name="CardExpDt" type="CardExpDate_t" use="optional"/>
        <xs:attribute name="CardIssNum" type="CardIssNum_t" use="optional"/>
        <xs:attribute name="PmtDt" type="PaymentDate_t" use="optional"/>
        <xs:attribute name="PmtRemtrID" type="PaymentRemitterID_t" use="optional"/>
    </xs:attributeGroup>
    <xs:complexType name="SettlInstGrp_Block_t">
        <xs:annotation>
            <xs:appinfo>
                <fm:Xref Protocol="FIX" name="SettlInstGrp" ComponentType="ImplicitBlockRepeating"
                         Category="SettlementInstruction"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="SettlInstGrpElements"/>
        </xs:sequence>
        <xs:attributeGroup ref="SettlInstGrpAttributes"/>
    </xs:complexType>
    <xs:group name="SettlObligationInstructionsElements">
        <xs:sequence>
            <xs:element name="Instrmt" type="Instrument_Block_t" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Pty" type="Parties_Block_t" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="SettlDetails" type="SettlDetails_Block_t" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="BudgetParams" type="BudgetParameters_Block_t" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ObligParameters" type="ObligParameters_Block_t" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ObligIDs" type="ObligIDs_Block_t" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:group>
    <xs:attributeGroup name="SettlObligationInstructionsAttributes">
        <xs:attribute name="NetGrossInd" type="NetGrossInd_t" use="optional"/>
        <xs:attribute name="SettlID" type="SettlObligID_t" use="optional"/>
        <xs:attribute name="DocNum" type="DocNum_t" use="optional"/>
        <xs:attribute name="SettRefID" type="SettlObligID_t" use="optional"/>
        <xs:attribute name="SettlVer" type="SettlObligVer_t" use="optional"/>
        <xs:attribute name="FirmSettlID" type="FirmSettlObligID_t" use="optional"/>
        <xs:attribute name="SettlTransTyp" type="SettlObligTransType_t" use="optional"/>
        <xs:attribute name="SettlRefID" type="SettlObligRefID_t" use="optional"/>
        <xs:attribute name="CcyAmt" type="CcyAmt_t" use="optional"/>
        <xs:attribute name="ActualAmt" type="CcyAmt_t" use="optional"/>
        <xs:attribute name="SettlCurrAmt" type="SettlCurrAmt_t" use="optional"/>
        <xs:attribute name="Ccy" type="Currency_t" use="optional"/>
        <xs:attribute name="SettlCcy" type="SettlCurrency_t" use="optional"/>
        <xs:attribute name="SettlCcyID" type="CurrencyID_t" use="optional"/>
        <xs:attribute name="SettlCurrFxRt" type="SettlCurrFxRate_t" use="optional"/>
        <xs:attribute name="SettlDt" type="SettlDate_t" use="optional"/>
        <xs:attribute name="ActualSettlDt" type="SettlDate_t" use="optional"/>
        <xs:attribute name="EfctvTm" type="EffectiveTime_t" use="optional"/>
        <xs:attribute name="ExpireTm" type="ExpireTime_t" use="optional"/>
        <xs:attribute name="LastUpdateTm" type="LastUpdateTime_t" use="optional"/>
        <xs:attribute name="TrdDt" type="TradeDate_t" use="optional"/>
        <xs:attribute name="TrdID" type="TradeID_t" use="optional"/>
        <xs:attribute name="TrdVer" type="TradeVer_t" use="optional"/>
        <xs:attribute name="TrdTyp" type="TrdType_t" use="optional"/>
        <xs:attribute name="Side" type="Side_t" use="optional"/>
        <xs:attribute name="LastQty" type="LastQty_t" use="optional"/>
        <xs:attribute name="BOTrdType" type="BOTrdType_t" use="optional"/>
        <xs:attribute name="BOTrdType2" type="BOTrdType2_t" use="optional"/>
        <xs:attribute name="SettlObligTyp" type="SettlObligTyp_t" use="optional"/>
        <xs:attribute name="ObligStatus" type="ObligStatus_t" use="optional"/>
        <xs:attribute name="ObligStatusTyp" type="ObligStatusTyp_t" use="optional"/>
        <xs:attribute name="FullyPaidFlag" type="FullyPaidFlag_t" use="optional"/>
        <xs:attribute name="TotalAmt" type="TotalAmt_t" use="optional"/>
        <xs:attribute name="OperTyp" type="OperTyp_t" use="optional"/>
        <xs:attribute name="OperNum" type="OperNum_t" use="optional"/>
        <xs:attribute name="CommissTyp" type="CommissTyp_t" use="optional"/>
        <xs:attribute name="Priority" type="Priority_t" use="optional"/>
        <xs:attribute name="Txt" type="Text_t" use="optional"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="BudgetParametersAttributes">
        <xs:attribute name="chargeCreator" type="xs:string" use="optional"/>
        <xs:attribute name="chargeKbk" type="xs:string" use="optional"/>
        <xs:attribute name="chargeOkato" type="xs:string" use="optional"/>
        <xs:attribute name="chargeBasis" type="xs:string" use="optional"/>
        <xs:attribute name="chargePeriod" type="xs:string" use="optional"/>
        <xs:attribute name="chargeType" type="xs:string" use="optional"/>
        <xs:attribute name="chargeNumDoc" type="xs:string" use="optional"/>
        <xs:attribute name="chargeDateDoc" type="xs:string" use="optional"/>
        <xs:attribute name="chargeUin" type="xs:string" use="optional"/>
    </xs:attributeGroup>

    <xs:complexType name="BudgetParameters_Block_t">
        <xs:attributeGroup ref="BudgetParametersAttributes"/>
    </xs:complexType>

    <xs:attributeGroup name="ObligParameterAttributes">
        <xs:attribute name="Name" type="xs:string" use="optional"/>
        <xs:attribute name="Value" type="xs:string" use="optional"/>
        <xs:attribute name="Type" type="xs:string" use="optional"/>
        <xs:attribute name="Description" type="xs:string" use="optional"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="ObligIDAttributes">
        <xs:attribute name="IDName" type="xs:string" use="optional"/>
        <xs:attribute name="IDValue" type="xs:string" use="optional"/>
        <xs:attribute name="IDType" type="xs:string" use="optional"/>
        <xs:attribute name="IDDescription" type="xs:string" use="optional"/>
    </xs:attributeGroup>

    <xs:complexType name="ObligParameter_t">
        <xs:attributeGroup ref="ObligParameterAttributes"/>
    </xs:complexType>

    <xs:complexType name="ObligParameters_Block_t">
        <xs:sequence>
            <xs:element name="ObligParameter" type="ObligParameter_t" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ObligIDs_Block_t">
        <xs:sequence>
            <xs:element name="ObligID" type="ObligParameter_t" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SettlObligationInstructions_Block_t">
        <xs:annotation>
            <xs:appinfo>
                <fm:Xref Protocol="FIX" name="SettlObligationInstructions" ComponentType="ImplicitBlockRepeating"
                         Category="SettlementInstruction"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="SettlObligationInstructionsElements"/>
        </xs:sequence>
        <xs:attributeGroup ref="SettlObligationInstructionsAttributes"/>
    </xs:complexType>
</xs:schema>
